<!doctype html>
<html>
  <head>
    <!-- Required meta stuff-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- SEO magic -->
    <title><%= "#{@title} —" if @title %> Kevin Clark</title>
    <meta name="description" content="Kevin Clark is a product designer living in Montreal.">
    <meta name="author" content="Kevin Clark">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon.png">

    <!-- Mobile optimizations -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />

    <!-- Stylesheet -->
    <link href="/assets/styles.scss" rel="stylesheet" type="text/css">

    <!-- Webfonts -->
    <script src="//use.typekit.net/rlh2chv.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@vernalkick">
    <meta name="twitter:creator" content="@vernalkick">
    <meta name="twitter:title" content="<%= @title || 'Kevin Clark' %>">
    <meta name="twitter:description" content="I’m a Product Designer at Shopify, run the Montreal Dribbble meetups and make apps in my spare time. I live and work in the beautiful city of Montreal.">
  </head>

  <body>

    <header role="banner" class="page-header">
      <div class="wrap">
        <a href="/" class="logo">
          <%= embed_svg 'logo' %>
          <span class="visually-hidden">Kevin Clark</span>
        </a>
        <nav class="page-navigation">
          <ul class="page-navigation-list">
            <% @nav.each do |nav_item| %>
              <li class="page-navigation-list__item <%= 'page-navigation-list__item--current' if current_page == nav_item[:url] %>">
                <a href="<%= nav_item[:url] %>" class="page-navigation-list__link"><%= nav_item[:title] %></a>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <main class="page-main">
      <%= yield %>
    </main>

    <footer class="page-footer">
      <div class="wrap">
        <p>
          Copyright © <%= DateTime.now.strftime "%Y" %> <a href="/">Kevin Clark</a>. All rights reserved.
          Powered by <a href="http://www.sinatrarb.com">Sinatra</a> and hosted by <a href="http://heroku.com">Heroku</a>. <br/>
          If you’d like to keep up with new content, you should subscribe to my <a href="/rss">RSS feed</a>.
        </p>
        <ul class="social-link-list">
          <li class="social-link-list__item">
            <a href="https://twitter.com/vernalkick" class="social-link social-link--twitter">
              <%= embed_svg 'twitter' %>
              <span class="visually-hidden">Twitter</span>
            </a>
          </li>
          <li class="social-link-list__item">
            <a href="http://dribbble.com/vernalkick" class="social-link social-link--dribbble">
              <%= embed_svg 'dribbble' %>
              <span class="visually-hidden">Dribbble</span>
            </a>
          </li>
        </ul>
      </div>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39932273-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
