<article class="project">
  <header class="project__header row">
    <h1 class="project__title"><%= project.title %></h1>
    <% if project.link %>
      <a href="<%= project.link %>" class="project__link external-link">View project</a>
    <% end %>
  </header>

  <% if project.hero_image_url %>
    <div class="project__hero">
      <img src="<%= project.hero_image_url %>" alt="">
    </div>
  <% end %>

  <div class="post__content row">
    <div class="column column--two-thirds column--right">
      <%= project.body %>

      <a href="<%= Twitter.tweet_url(project.title + ' —', project.url) %>" class="share-on-twitter">
        <%= embed_svg 'twitter-blue-bird', class: 'share-on-twitter__icon' %>
        Share it on Twitter <small>— <%= Twitter.tweet_count_message(project.url) %></small>
      </a>
    </div>
    <div class="column column--third column--left">
      <% if project.description %>
        <div class="sidebar__section">
          <h4 class="sidebar__title">Project</h4>
          <p class="sidebar__text"><%= project.description %></p>
        </div>
      <% end %>

      <div class="sidebar__section">
        <h4 class="sidebar__title">Role</h4>
        <p class="sidebar__text">Design & Development</p>
      </div>
      <% if project.elsewhere_links %>
        <div class="sidebar__section">
          <h4 class="sidebar__title">Elsewhere</h4>
          <ul class="sidebar__link-list">
          <% project.elsewhere_links.each do |item| %>
            <li class="sidebar__link-list__item">
              <a href="<%= item.link %>" class="external-link"><%= item.title %></a>
            </li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</article>
