<div class="section">
  <div class="wrap">
    <div class="row">
      <div class="column column--two-thirds column--right">
        <div class="heading">
          <h1 class="heading__title">Speaking</h1>
          <h2 class="heading__lede">As a self-taught designer, I've learned everything I know from my peers and I think it's only fair that I give back to the community by sharing what I learn with other people. I'm passionate about design, typography, front-end, ecommerce and everything in between.</h2>
          <p class="heading__note">Want me to speak at your conference?</p>
          <a href="mailto:kevin@kevinclark.ca" class="heading__button btn">Shoot me an email</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <img src="/assets/kevinclark-talk-antifragile.png" alt="">
</div>

<div class="section">
  <div class="wrap">
    <div class="row">
      <div class="column column--two-thirds column--right">
        <% @data.group_by {|a| Date.parse(a['date']) < Date.today}.each do |future, events| %>
          <h1><%= future ? 'Past' : 'Upcoming' %> Events</h1>
          <ul class="speaking-event-list">
            <% events.each do |event| %>
              <li class="speaking-event">
                <header class="speaking-event__header">
                  <h2 class="speaking-event__title"><%= event['title'] %></h2>
                  <span class="speaking-event__date"><%= event['date'] %></span>
                </header>
                <p class="speaking-event__description"><%= event['description'] %></p>
                <% if event['links'] %>
                  <ul class="speaking-event__link-list">
                    <% event['links'].each do |link| %>
                      <li class="speaking-event__link-item">
                        <a href="<%= link['url'] %>" class="external-link"><%= link['title'] %></a>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="column column--third column--left">
        <div class="sidebar__section">
          <h2>Talks</h2>
        </div>
        <div class="sidebar__section">
          <img src="/assets/speaking/antifragile-design-logo.svg" class="sidebar__image" alt="">
          <p class="sidebar__text">As designers, we often seek certainty and control. When designing at scale, this is simply not possible. We must learn to thrive in unpredictability. Antifragile Design is about embracing constraints and using them to our advantage in order to create interfaces.</p>
          <a href="http://antifragile.design" class="external-link">View website</a>
        </div>
        <div class="sidebar__section">
          <img src="/assets/speaking/advanced-flexbox.svg" class="sidebar__image" alt="">
          <p class="sidebar__text">As we’re pushing the boundaries of web design, we also need better tools to achieve complex layouts that work across a series of devices and screen sizes. That tool certainly isn’t tables or floats: it’s flexbox.</p>
        </div>
        <!--
        <div class="sidebar__section">
          <h4 class="sidebar__title">What I do</h4>
          <p class="sidebar__text">I've been a Product Designer at Shopify for the past two years, helping redefine ecommerce. Before that, I was a freelancer working with startups like Busbud, OKAM and more.</p>
        </div>
        <div class="sidebar__section">
          <h4 class="sidebar__title">What I talk about</h4>
          <p class="sidebar__text">My latest talk, titled <a href="http://antifragile.design">Antifragile Design</a> explores how we can take principles from Antifragile and apply them in our design process by using constraints to our advantage.</p>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
